<div class="about-content">
    <section class="about-section">
        <div class="about-head" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <span class="about-title">Find Out More <span style="color: blue;">About Us</span></span>
            <span class="about-subtitle">C-Out Technologies is an IT professional services and
                Product Developmemt company based in coimbatore, Tamil Nadu, India. <br>
                We're glad and grateful you're here.</span>
        </div>
        <div class="about-sub" fxLayout="row" fxLayoutGap="30px">
            <span><img class="about-img" src="/assets/images/About/about-image-1.jpg"></span>
            <div class="about-desc p-t-25" fxLayout="column" fxLayoutGap="10px">
                <span class="sub-1">Voluptatem dignissimos provident quasi corporis soluptates sit assumenda.</span>
                <span class="sub-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem accusamus alias
                    incidunt eos quaerat.</span>
                <span><img class="about-img-2" src="/assets/images/About/about-image-2.jpg"></span>
                <span class="sub-3">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum</span>
            </div>
        </div>
    </section>
    <section class="icon-content">
        <div class="icon-container p-t-20 m-b-20" fxLayout="row" fxLayoutGap="80px" fxLayoutAlign="center">
            <mat-card class="card-content" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center">
                <img class="image-icon" src="/assets/images/Icons/emoji-smile.svg">
                <span class="count">232</span>
                <span class="count-text">Happy Clients</span>
            </mat-card>
            <mat-card class="card-content" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center">
                <img class="image-icon" src="/assets/images/Icons/headset.svg">
                <span class="count">521</span>
                <span class="count-text">C-Out Projects</span>
            </mat-card>
            <mat-card class="card-content" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center">
                <img class="image-icon" src="/assets/images/Icons/journal-richtext.svg">
                <span class="count">1461</span>
                <span class="count-text">C-Out Support</span>
            </mat-card>
            <mat-card class="card-content" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center">
                <img class="image-icon" src="/assets/images/Icons/people.svg">
                <span class="count">25</span>
                <span class="count-text">Hard Workers</span>
            </mat-card>
        </div>
        <div class="main-spinner p-t-25" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
            <mat-card class="main-card" fxLayout="row" fxLayoutGap="40px">
                <mat-card class="card-spin">
                    <mat-progress-spinner mode="determinate" color="primary" value="99"></mat-progress-spinner>
                    <div class="message">99%</div>
                    <span class="spin-text p-l-30">HTML</span>
                </mat-card>
                <mat-card class="card-spin">
                    <mat-progress-spinner mode="determinate" color="primary" value="80"></mat-progress-spinner>
                    <div class="message">80%</div>
                    <div class="spin-text p-l-35">CSS</div>

                </mat-card>
                <mat-card class="card-spin">
                    <mat-progress-spinner mode="determinate" color="primary" value="70"></mat-progress-spinner>
                    <div class="message">70%</div>
                    <div class="spin-text p-l-10">JAVASCRIPT</div>

                </mat-card>
                <mat-card class="card-spin">
                    <mat-progress-spinner mode="determinate" color="primary" value="65"></mat-progress-spinner>
                    <div class="message">65%</div>
                    <div class="spin-text p-l-35">PHP</div>

                </mat-card>
                <mat-card class="card-spin">
                    <mat-progress-spinner mode="determinate" color="primary" value="50"></mat-progress-spinner>
                    <div class="message">50%</div>
                    <div class="spin-text p-l-10">WORDPRESS</div>

                </mat-card>
                <mat-card class="card-spin">
                    <mat-progress-spinner mode="determinate" color="primary" value="38"></mat-progress-spinner>
                    <div class="message">38%</div>
                    <div class="spin-text" style="padding-left: 18px;">PYTHON</div>

                </mat-card>
            </mat-card>
        </div>

    </section>

    <section>
        <app-footer></app-footer>
    </section>

</div>