<!-- footer -->
<section class="app-footer">
  <div class="container m-l-20" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex>
      <div class="footer-title">
        C-Out
      </div>
      <div>C-OUT Technologies is an IT professional services and
        Product Developmemt company based in coimbatore, Tamil Nadu, India.
      </div>
    </div>
    <div fxFlex style="padding-left:50px">
      <div class="footer-title">
        Useful Links
      </div>
      <div fxLayout="column">
        <a class="f1-link" href="/home">About C-Out</a>
        <a class="f1-link">My Account</a>
        <a class="f1-link" href="/services">Services</a>
        <a class="f1-link">Help</a>
      </div>
    </div>
    <div fxFlex>
      <div class="footer-title">
        Our Services
      </div>
      <div fxLayout="column">
        <a class="f1-link" href="/" target="_blank">Web Design</a>

        <a class="f1-link" href="/" target="_blank">Web Development</a>

        <a class="f1-link" href="/" target="_blank">Product Management</a>

        <a class="f1-link" href="/" target="_blank">Graphic Design</a>
      </div>
    </div>
    <div fxFlex>
      <div class="footer-title">
        Follow Us
      </div>
      <P style="
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;">
        Starting Through Your Carrier
      </P>
      <div>
        <a mat-icon-button aria-label="instagram" href="/" target="_blank">
          <img src="../../../../assets/images/social-media/instagram.svg">
        </a>
        <a mat-icon-button class="m-l-10" href="/" target="_blank" aria-label="Facebook">
          <img src="../../../../assets/images/social-media/facebook.svg">
        </a>
        <a mat-icon-button class="m-l-10" aria-label="Twitter" href="/" target="_blank">
          <img src="../../../../assets/images/social-media/twitter.svg">
        </a>
        <a mat-icon-button class="m-l-10" aria-label="Youtube" href="/" target="_blank">
          <img src="../../../../assets/images/social-media/youtube.svg">
        </a>
      </div>

    </div>
  </div>
</section>
<section class="app-footer2">
  <div class="container">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="40px" fxLayoutAlign="space-between"
      fxLayoutAlign.xs="center center">
      <div>
        <div fxLayout="row warp" fxLayoutGap="20px" fxLayoutGap.xs="10px" fxLayoutAlign.xs="center">
          <a class="f2-link">Privacy & Cookies</a>
          <a class="f2-link">Terms & Conditions</a>
          <a class="f2-link">FAQ</a>
        </div>
      </div>
      <div style="padding-right:50px">All Rights Reserved by C-Out.</div>
    </div>
  </div>
</section>