.app-footer {
    background-color: #3e4555 !important;
    color: #fff;
    padding-top: 50px;
    text-align: start;
    padding-bottom: 50px;
    padding-left: 90px;
  
    .footer-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 40px;
    }
  
    a {
      color: #fff;
      text-decoration: none;
      background-color: transparent;
      cursor: pointer;
    }
  
    .blog-link-txt,
    .f1-link {
      padding-bottom: 10px;
    }
  
    a:hover {
      color: #9352b3;
      padding-left: 5px;
    }
  }
  
  .app-footer2 {
    background-color: #3e4555 !important;
    color: #fff !important;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 40px;
    padding-bottom: 50px;
    padding-top: 50px;
  
    .f2-link {
      color: #fff;
      text-decoration: none;
      background-color: transparent;
      cursor: pointer;
    }
  
    .f2-link:hover {
      color: #9352b3;
    }
  }
  
  .app-title-2 {
    color: #3e4555;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 80px;
  }
  
  .app-subtitle-2 {
    font-size: 18px;
    font-weight: 400;
    color: #8d97ad;
    line-height: 30px;
    text-align: center;
  }
  