.service-content {
  height: calc(100vh - 60px);
}

//latest services

.desc-header {
  margin: 15px;
  font-size: 20px;
  text-align: start;
  font-weight: 500;
}

.image {
  display: block;
  width: 250px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  padding-top: 10px;
}

.swiper {
  height: 480px;
  padding-left: 15px;
}

//popular services

.popular-content {
  background: #dfdfdf;

  .service-head {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    color: blue;
  }

  .service-card {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .service-img {
    height: 250px;
    width: 350px;
    text-align: center;
    padding-left: 45px;
  }

  .service-title {
    font-weight: 500;
    text-align: start;
    font-size: large;
    padding-top: 20px;
    letter-spacing: 1px;
    text-align: start;
    color: black;
  }

  .service-subtitle {
    font-size: small;
    padding-top: 8px;
    text-align: start;
    color: blue;
  }
}